@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --main-background: 214, 219, 220;
  backgroundcolor: bg-red-200;
} */

@layer components {
  .tooltip-arrow {
    @apply before:content-[''] before:absolute before:top-1/2  before:right-[100%] before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-gray-700;
  }
  .tooltip {
    @apply invisible group-hover:visible absolute -top-1 left-[40px] z-10 inline-block px-3 py-2 text-sm font-medium text-white bg-gray-700 rounded-lg shadow-sm;
  }
}

html {
  @apply bg-gray-100;
}
